{% extends "./index.html" %}


{% block page_name %}
    <div class="newsNadpis">
        <i>Контакты</i>
    </div>
{% endblock page_name %}

{% block page_content %}
    <div class="TextInfo">
        <p>
            Если у вас возникли какие-либо вопросы, предложения или замечания, мы всегда рады вас выслушать! 
            Не стесняйтесь обращаться к нам по электронной почте на адрес frenzyos.official@mail.ru. 
            Ваше мнение важно для нас, и мы стремимся к тому, чтобы улучшить нашу организацию!
        </p>
    </div>
{% endblock page_content %}