{% extends "./index.html" %}


{% block page_name %}
    <div class="newsNadpis">
        <i>МАТЧ-ЦЕНТР</i>
    </div>
{% endblock page_name %}

{% block page_content %}
<main>
    <div class="MatchCards">
        <div class="matchCard" id="CS2card">
            <i>CS 2</i>
        </div>
        <div class="matchCard">
            <i>CS 2</i>
        </div>
        <div class="matchCard">
            <i>CS 2</i>
        </div>
        <div class="matchCard">
            <i>CS 2</i>
        </div>
    </div>
</main>
{% endblock page_content %}