{% extends "./index.html" %}


{% block page_name %}
    <div class="newsNadpis">
        <i>МАТЧ-ЦЕНТР</i>
    </div>
{% endblock page_name %}

{% block page_content %}
<main>
    <div class="MatchCards">
        <div class="matchCard" id = "CS2card">
            <i>CS 2</i>
        </div>
        <div class="matchCard" id = "Dota2Card">
            <i>DOTA 2</i>
        </div>
        <div class="matchCard" id = "StandoffCard">
            <i>STANDOFF 2</i>
        </div>
        <div class="matchCard" id = "BrawlCard">
            <i>BRAWL STARS</i>
        </div>
    </div>
</main>
{% endblock page_content %}